:root {
  /* Colors: */
  --unnamed-color-ff0000: #ff0000;
  --unnamed-color-a3a493: #a3a493;
  --unnamed-color-102223: #102223;
  --unnamed-color-d2d2d2: #d2d2d2;
  --unnamed-color-dcdcdc: #dcdcdc;
  --unnamed-color-e6e6e6: #e6e6e6;
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-000000: #000000;
}
